# virtual env
.venv/
# models & checkpoints
# model binaries / checkpoints   (keep *.py source files!)
models/**/*.bin
models/**/*.pt
models/**/*.ckpt
models/**/__pycache__/

# cache & py artifacts
__pycache__/
*.pyc
# VS Code
.vscode/
